<a href="https://colab.research.google.com/github/Ardra123/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Copy_of_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 2

In [ ]:
Name ="Ardra C"
Address ="Chalil house Peruvayal Calicut"
Telephone_no ="04952492630"
print(" Name:"+Name+"\n","Address:"+Address+"\n","Telephone no:"+Telephone_no)

 Name:Ardra C
 Address:Chalil house Peruvayal Calicut
 Telephone no:04952492630

Question 3

In [ ]:
print("Your name is",name)
name="Ardra"

Your name is Ardra C

Question 4

In [ ]:
#area of a rectangle 
Width = float(input("Enter the width: ")) 
Height = float(input("Enter the height: ")) 
area =Width * Height
print("The area is",area, "Square units")

Enter the width: 3
Enter the height: 8
The area is 24.0 Square units

Question 5

In [ ]:
#area of a triangle 
Base= float(input("Enter the base: "))
Height= float(input("Enter the height: ")) 
area = .5*Base*Height
print("The area is",area, "square units")

Enter the base: 2
Enter the height: 7
The area is 7.0 square units

Question 6

In [ ]:
#area of a circle
radius = float(input("Enter the radius: ")) 
area = 3.14*radius**2
print("The area is", area, "square units")

Enter the radius: 23
The area is 1661.0600000000002 square units

Question 7

In [ ]:
Name = input("Enter your name: ") 
Age =input("Enter your age: ") 
print("My name is "+Name+" and my age is "+Age)

Enter your name: Ardra
Enter your age: 19
My name is Ardra  and my age is 19

Question 8

In [ ]:
a= float(input("Enter a number: ")) 
a=a+1
print(a)

Enter a number: 6
7.0

Question 9

In [ ]:
Name = input("Enter your first name: ") 
print(Name)

Enter your first name: Ardra
Ardra

In [ ]:
input("Enter your first name: ")

Enter your first name: Ardra

'Ardra'